<div class="panel panel-default">
	<div class="panel-heading">
	<h1>Sign up</h1>
	<div class="pannel-body">
		</div>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

  		<div class="form-group">
		  	<%= f.label :name %> <i>You will be visibly with this name</i>
		  	<%= f.text_field :name, autofocus: true, class: "form-control", required: true  %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :address %> <i>Your address will stay private.</i>
		  	<%= f.text_field :address, autofocus: true, class: "form-control", required: true  %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :zip %> <i>Please enter your zip code. meinenachbarn.ch shows you pins based on your zip-code</i>
		  	<%= f.text_field :zip, autofocus: true, class: "form-control", required: true %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :email %> <i>Your e-mail won't be public, you get contacted with a contact-form</i>
		  	<%= f.email_field :email, autofocus: true, class: "form-control" %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :password %><br />
		  	<%= f.password_field :password, class: "form-control" %>
		  </div>

		  <div class="form-group">
		  	<%= check_box_tag 't_and_c' %>
		  	I have read and agree to the <a data-toggle="modal" href="#t_c_modal">Terms & Conditions</a>.
		  </div>

		  <div class="form-group">
		  	<%= f.submit "Sign up", class: "btn btn-primary" %>
		  </div>

		<% end %>
	</div>
	<div class="panel-footer">
	<%= render "devise/shared/links" %>
</div>
