<%= render 'pages/home' unless user_signed_in? %>

<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <h3>Search by Location:</h3>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <%= form_tag pins_path, method: :get, class: "search-form" do %>
          <div class="form-group has-feedback">
            <%= label_tag :search, nil, class: "sr-only" %>
            <%= text_field_tag :search, "", class: "form-control", placeholder: "E.g. 'Eiffel Tower, Paris, FR'" %>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        <% end %>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <h3>Full-Text Search:</h3>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <%= search_form_for @q, class: "search-form" do |f| %>
          <div class="form-group has-feedback">
            <%= f.label :description_cont, class: "sr-only" %>
            <%= f.text_field :description_cont, class: "form-control", placeholder: "E.g. 'Eiffel Tower, Paris, FR'" %>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        <% end %>
      </div>
  </div>
</div>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <%= pin.description %><br/>
        <strong><%= pin.user.name if pin.user %></strong>



        <% if current_user && (pin.user == current_user) %>
          <div class="actions">
              <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>