<div>
<div class="jumbotron center">
	<%= image_tag("", alt: "") %>


     <h1><%= t "landing.welcome" %></h1>
       <p>
         <%= link_to t("landing.buttons.login"), new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to t("landing.buttons.signup"), new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>

<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
          <span style="font-size:3.0em;" class="glyphicon glyphicon-home"></span><h4><%== t "landing.caption1" %></h4>
        </p>
      </div>
    </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-comment"></span><h4><%== t "landing.caption2" %></h4>
        </p>
      </div>
    </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-user"></span> <h4><%== t "landing.caption3" %></h4>
        </p>
      </div>
    </div>
  </div>

</div>
<div>
